<carousel>
    <div class="row">
        <div class="col m8 s12 offset-m2">
            <div class="slider">
                <ul class="slides">
                    <li each={ resource in resourceList }>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    </script>
</carousel>
