<nav>
    <div class="container">
        <div class="nav-wrapper">
            <div class="row">
                <span class="brand-logo center">Paritizer Media Viewer</span>
            </div>
        </div>
    </div>
    <script>
    </script>
</nav>
